@media (max-width: 767px) {
    .center {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .top {
      height: 735px;
      background-image: url(img/mobilehead.jpg);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }
  
    .top__heading {
      width: 343px;
      font-size: 32px;
      display: flex;
      text-align: center;
      padding-bottom: 33px;
    }
  
    .top__text {
      width: 343px;
      height: 66px;
      font-size: 14px;
      text-align: center;
      font-style: normal;
      line-height: 22px;
      padding-bottom: 33px;
    }
  
    .top__button {
      width: 234.063px;
      height: 48.603px;
      flex-shrink: 0;
      border-radius: 30px;
      background: #9C0332;
      margin-left: 54.5px;
      margin-right: 54.5px;
      margin-bottom: 239px;
    }
  
    .game-box-mob {
      height: auto;
      flex-shrink: 0;
      background: #000915;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 33px;
      padding-top: 128px;
      padding-bottom: 128px;
    }
  
    .game-box {
      display: none;
    }
  
    .footer {
      height: auto;
      background: #000915;
      background-size: cover;
      display: flex;
  
      &__gameFirst {
        height: auto;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      &__gameSecond {
        height: auto;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: column-reverse;
      }
  
      &__info {
        padding: 51px 0px 64px 0px;
        align-items: center;
      }
  
      &__info2 {
        padding: 51px 0px 64px 0px;
        align-items: center;
      }
  
      &__heading {
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 0px;
      }
  
      &__heading2 {
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 0px;
      }
  
      &__text {
        width: 343px;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
      }
  
      &__img {
        width: 344px;
        padding-top: 0px;
        padding-bottom: 85px;
      }
  
      &__img2 {
        width: 344px;
        padding-top: 0px;
        padding-bottom: 90px;
      }
    }
  
  
  }